[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/cinngyang/Python/blob/master/ML_Combining_Different_Models.ipynb)

Chapter 7 - Combining Different Models for Ensemble Learning
===

## 多數決

In [0]:
from sklearn import datasets
from sklearn.model_selection import train_test_split 
import pandas as pd

In [14]:
iris=datasets.load_iris()
dir(iris)

['DESCR', 'data', 'feature_names', 'target', 'target_names']

In [16]:
dtiris=pd.DataFrame(data=iris.data,columns=iris.feature_names)
dtiris['target_names']=iris.target

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0

In [0]:
X_train, X_test, y_train, y_test=train_test_split(iris.data,iris.target,test_size=0.33, random_state=42)

In [26]:
print(X_train.shape)
print(y_train.shape)

(100, 4)
(100,)

## References

* [Chapter 7 - Combining Different Models for Ensemble Learning](https://github.com/PacktPublishing/Python-Machine-Learning-Second-Edition/blob/master/Chapter07/ch07.ipynb)