<a href="https://colab.research.google.com/github/cinngyang/Python/blob/master/Pandas_Index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
dt=pd.Series(np.random.randn(9))
print(dt.index)
dt

RangeIndex(start=0, stop=9, step=1)

0    0.449516
1    0.871530
2   -0.257483
3    0.328312
4    1.375811
5   -0.329171
6   -0.245576
7   -0.124176
8    0.637794
dtype: float64

In [0]:
dt1=pd.Series(np.random.randn(9),index=['a','a','a','b','b','c','c','d','d'])
print(dt1.index)
dt1

Index(['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], dtype='object')

a    0.477948
a    1.539634
a   -0.933161
b    0.740634
b   -0.152322
c    0.646186
c   -0.299037
d   -0.650463
d   -0.752216
dtype: float64

In [0]:
dt2=pd.Series(np.random.randn(9),index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,3,1,2,2,3]])
print(dt2.index)
dt2

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

a  1    0.691219
   2   -0.451699
   3   -0.939059
b  1   -0.369809
   3   -0.616977
c  1   -0.472828
   2    1.636790
d  2    0.791850
   3   -0.057356
dtype: float64

In [0]:
dt1['b']
type(dt1)

pandas.core.series.Series

In [0]:
c=dt2.unstack()
print(type(c))
c

<class 'pandas.core.frame.DataFrame'>

          1         2         3
a  0.691219 -0.451699 -0.939059
b -0.369809       NaN -0.616977
c -0.472828  1.636790       NaN
d       NaN  0.791850 -0.057356