<a href="https://colab.research.google.com/github/cinngyang/Python/blob/master/Pandas_%E8%B3%87%E6%96%99%E5%89%8D%E7%BD%AE%E8%99%95%E7%90%86.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#處理遺失資料
+ dropna , fillna , isull , notnull
+ DataFrame 預設只要一筆就刪除
+ frame.dropna(axis=1,how='all')
+ 填值 frame.fillna(0) , 可填 dic frame.fillna({column:vals ,column:vals })
+ 先計算均值再填入 na 
+ 重複 duplicated()
+ function 對應轉換值 DataFrame['columns'].map(dict)
+ replace
+ 更名軸 frame.index.map()
+ 分組 cut

In [0]:
from numpy import nan as NA
import numpy as np
import pandas as pd

In [7]:
data=pd.Series([1,NA,3.5,NA,7])
print(data)
print(data.dropna())

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64
0    1.0
2    3.5
4    7.0
dtype: float64

In [8]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

In [18]:
data=pd.DataFrame({'food':['bacon','pulled pork','bacon','Pastrami','corned beef','Bacon','pastrami','honey ham','nova lox'],'ounces':[4,3,12,6,7.5,8,3,5,6]})
meat_to_animal={'bacon':'pig','pulled pork':'pig','pastrami':'cow','corned beef':'cow','honey ham':'pig','nova lox':'salmon'}
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [19]:
lowercased=data['food'].str.lower()
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [20]:
data['animal']=lowercased.map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [21]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

# 分組
+ pandas.cut(series,bin,label=list)
+ pd.cut(data,4,percision=2) , 分 4 組 , 小數 2 位
+ codes 
+ categories
+ pd.value_counts()
+ qcut 依樣本分組

In [22]:
ages=[20,22,25,27,21,23,37,31,61,45,41,32]
bins=[18,25,35,60,100]
cats=pd.cut(ages,bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [31]:
print('cats.codes',cats.codes)
print('cats.categories',cats.categories)
pd.value_counts(cats)

cats.codes [0 0 0 1 0 0 2 1 3 2 2 1]
cats.categories IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]]
              closed='right',
              dtype='interval[int64]')

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

# 字串操作