<a href="https://colab.research.google.com/github/cinngyang/Python/blob/master/Pandas_GroupBy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

+ [Simple demo of Pandas](https://www.somebits.com/~nelson/pandas-multiindex-slice-demo.html)<br>
+ get_group()
+ group1['data1','data2'].agg(['mean','sum'])
+ 
+ dt2.index.names / type(dt2.index)
+ dt2.index.get_level_values(0)
+ dt2.index.set_names(["col1","col2"],inplace=True)
+ dt2.set_index("col" , inplace=True)

In [0]:
import pandas as pd
import numpy as np

In [4]:
dt=pd.DataFrame({'BIN':['AAABB001','AAABB011','BBBCC001','BBBCC012','BBBCC031'],'QTY':[100,200,300,100,200]})
dt['CIE']=dt['BIN'].str[0:5]
dt['IV']=dt['BIN'].str[5:7]
dt['VF']=dt['BIN'].str[7:8]
dt=dt[['BIN','CIE','IV','VF','QTY']]
dt

        BIN    CIE  IV VF  QTY
0  AAABB001  AAABB  00  1  100
1  AAABB011  AAABB  01  1  200
2  BBBCC001  BBBCC  00  1  300
3  BBBCC012  BBBCC  01  2  100
4  BBBCC031  BBBCC  03  1  200

In [11]:
G1=dt['QTY'].groupby([dt['CIE'],dt['IV']])
G1

In [15]:
dt2=dt.groupby([dt['CIE'],dt['IV'],dt['VF']])[['QTY']].sum()
dt2

             QTY
CIE   IV VF
AAABB 00 1   100
      01 1   200
BBBCC 00 1   300
      01 2   100
      03 1   200

In [18]:
dt2.index.names
type(dt2.index)

pandas.core.indexes.multi.MultiIndex

In [20]:
print(dt2.index.get_level_values(0))
print(dt2.index.get_level_values(1))

Index(['AAABB', 'AAABB', 'BBBCC', 'BBBCC', 'BBBCC'], dtype='object', name='CIE')
Index(['00', '01', '00', '01', '03'], dtype='object', name='IV')