[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/cinngyang/Python/blob/master/Python-Pandas.ipynb)

read_csv  delimiter="\t"

+ Pandas 資料格式包含 Series / Array / Dictionary /DataFrame
+ DataFrame 
基本資訊 .shape .describe()  .head()  .tail()  .columns  .index  .info()<br>
    Map Dict  EX:  **my_dict = {0:'setosa', 1:'versicolor', 2:'virginica'}  dtiris['target_names'] = dtiris['target_names'].map(my_dict)**<br>
   資料選擇與篩選 : pd.loc /pd.iloc(Selection By Position) <br>tips[(tips['time'] == 'Dinner') & (tips['tip'] > 5.00)]<br>
   處理空值 dropna() fillna() <br>


### Reference
[Pandas 基礎教學](https://oranwind.org/python-pandas-ji-chu-jiao-xue/)<br>
[Data Frame 常用屬性與方法](https://ithelp.ithome.com.tw/articles/10185922)<br>
[Python data analysis toolkit](http://pandas.pydata.org/pandas-docs/stable/)<br>
[Comparison with SQL](http://pandas.pydata.org/pandas-docs/stable/comparison_with_sql.html)<br>
[資料分析機器學習-資料取得](https://medium.com/@yehjames/%E8%B3%87%E6%96%99%E5%88%86%E6%9E%90-%E6%A9%9F%E5%99%A8%E5%AD%B8%E7%BF%92-%E7%AC%AC2-1%E8%AC%9B-%E5%A6%82%E4%BD%95%E7%8D%B2%E5%8F%96%E8%B3%87%E6%96%99-sklearn%E5%85%A7%E5%BB%BA%E8%B3%87%E6%96%99%E9%9B%86-baa8f027ed7b)<br>[Pandas 基礎操作-groupby](https://ithelp.ithome.com.tw/articles/10194852)


ship95=df[['part','org','ship_to','cust_name','ship_to']]
ship95=ship95[ship95['part'].str[0:2]=='95'].groupby(['org','cust_name'],as_index=False).count()

In [0]:
import pandas as pd
from sklearn import datasets
from statistics import mean,median,mode,variance

# Create DataFrame
df1=pd.DataFrame({"HPI":[80,90,70,60],"Int_rate":[2,1,2,3],
                  "IND_GDP":[50,45,45,67]},index=[2000,2002,2003,2004])
df2=pd.DataFrame({"HPI":[80,90,70,60],"Int_rate":[2,1,2,3],
                  "IND_GDP":[50,45,45,67]},index=[2005,2006,2007,2008])

#iris
iris=datasets.load_iris()
print(iris.keys())
print('feature_names=',iris['feature_names'])
print('data shape',iris['data'].shape)
print('target shape',iris['target'].shape)
print('target_names',iris['target_names'])

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])
feature_names= ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
data shape (150, 4)
target shape (150,)
target_names ['setosa' 'versicolor' 'virginica']

In [0]:
#Creare DataFrame
dtiris=pd.DataFrame(iris['data'],columns=iris['feature_names'])

#Add Columns
dtiris['target']=iris['target']
dtiris['target_names']=iris['target']

#Map Dict
my_dict = {0:'setosa', 1:'versicolor', 2:'virginica'}
dtiris['target_names'] = dtiris['target_names'].map(my_dict)

In [0]:
dtiris.head(2)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa

In [0]:
# Select & Where
print(dtiris[(dtiris['sepal length (cm)'] == 5.1) & (dtiris['sepal width (cm)'] >= 3.5)])

#Group by 
dtiris.groupby('target_names').size()

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                 5.1               3.5                1.4               0.2
17                5.1               3.5                1.4               0.3
19                5.1               3.8                1.5               0.3
21                5.1               3.7                1.5               0.4
44                5.1               3.8                1.9               0.4
46                5.1               3.8                1.6               0.2

    target target_names
0        0       setosa
17       0       setosa
19       0       setosa
21       0       setosa
44       0       setosa
46       0       setosa

target_names
setosa        50
versicolor    50
virginica     50
dtype: int64

In [0]:
iris=pd.read_csv("C:/Users/Patrick/PythonSample/iris.csv")