In [4]:
from pivottablejs import pivot_ui
import pandas as pd

In [5]:
df=pd.read_excel('C://Data//GitHub//Python//SampleFile//Bintable.xlsx')

In [7]:
df.head(2)

               PART      BINC     IN    OUT    SHIP      RATE
0  95.S3806.W0A0B6N  ADC0XQE9  84000  58000  142000  0.408451
1  95.S3806.W0A0B6N  ADC0XQF9  57000  45353  102353  0.443104

In [10]:
pivot_ui(df,outfile_path='y.html')